body {
    overflow-x: hidden;
    margin: 0 -20px;
}

header {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: 90%;
}

.topo a img {
    max-height: 100px;
}

.topo nav {
    margin-right: 20px;

    display: flex;
    gap: 20px;
}

.topo nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.topo nav a:first-child {
    font-weight: bold;
}

.banner {
    max-width: 100%;
    width: 1600px;
    
}

.pecas {
    background: #6b0103;
    color:#fff4e3;
    padding: 40px 50px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;


}

.pecas h1 {
    font-size: 30px;
    font-weight: bold;
}


.pecas a {
text-decoration: none;
color: #fff4e3;
font-size: 24px;


}
 .pecas ul{
    display: flex;
    flex-direction: column;
    gap: 36px;

 }

.container {
    margin: auto;
    display: flex;
    align-items: center;
   
}

img { 
 max-width: 300px;
 border-radius: 10px;
}

.pecas-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
}

.peca {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding-bottom: 15px;
}

.peca h2 {
    font-weight: 700;
    font-size: 38px;

    text-align: center;
    margin-top: 30px;
    margin-bottom: 36px;
}

.peca-contexto {
    display: flex;
    gap: 30px;

    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
}

p {
    font-size: 24px;
    margin-top: 20px;
}

.vermelho {
    color: #fff4e3;
    background-color: #6b0103;
}

.branco {
    color: #6b0103;
    background-color: #fff4e3;
}


#btnTopo {
    position: fixed;
    bottom: 70px;
    right: 160px;
    background: wheat;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    border: none;

}

#seta {
    display: block;
    position: fixed;
    bottom: 82px;
    right: 172px;
    font-size: 64px;
    cursor: pointer;
    color: #6b0103;
}



footer {
    background:#fff4e3;
    color: #6b0103;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 14px;
   }



